<div class="ms-2 container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="card mt-3">
        <h5 class="card-header">BMI Calculator</h5>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Enter your information</h6>
          <div>
            <div>
              <label class="fw-bold">Name</label>
              <input class="form-control" type="text" [(ngModel)]="name" />
            </div>

            <div class="mt-2">
              <label class="fw-bold">Weight (lbs)</label>
              <input class="form-control" type="number" [(ngModel)]="weight" />
            </div>

            <div class="mt-2">
              <label class="fw-bold">Height (inches)</label>
              <input class="form-control" type="number" [(ngModel)]="height" />
            </div>
          </div>
          <div class="text-center mt-2">
            <button
              style="width: 200px"
              class="btn btn-primary mb-2"
              (click)="calcBMI()"
            >
              Calculate BMI
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <img width="650" height="500" src="assets/images/bmichart.png" />
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="card mt-4">
        <h5 class="card-header">BMI Calculator Output</h5>
        <div class="card-body">
          <div>
            <div>
              <label class="fw-bold">Name</label>
              <br />
              {{ name }}
            </div>
            <h4 *ngIf="bmi" class="mt-2">BMI: {{ bmi }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
